{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Détails de la Pièce</h1>
        
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Id</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.id }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Réference</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.ref }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Nom</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.name }}
                    </div>
                </div>
                {% if piece.buyPrice is not null %}
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <strong>Prix d'achat</strong>
                        </div>
                        <div class="col-md-9">
                            {{ piece.buyPrice }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Nom de la Gamme</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.gammeName }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Description Gamme</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.gammeDesc }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Unité</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.unit }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <strong>Stock</strong>
                    </div>
                    <div class="col-md-9">
                        {{ piece.stock }}
                    </div>
                </div>
                {% if piece.sellPrice is not null %}
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <strong>Prix de vente</strong>
                        </div>
                        <div class="col-md-9">
                            {{ piece.sellPrice }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="mt-4">
            <a href="{{ path('app_piece_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            <a href="{{ path('app_piece_edit', {'id': piece.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Modifier
            </a>
            {{ include('piece/_delete_form.html.twig', {'class': 'd-inline'}) }}
        </div>
    </div>
{% endblock %}

