{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mt-5 anim">
        <h1><strong>Mon compte</strong></h1>
        {% if app.user %}

        <br/>
        <h3>{{user.firstName}}  {{user.lastName}}</h3>
        Email : {{user.email}} 
        <br />
        Rôles : {{user.getRightsRoleName}}

        <hr style="background-color:darkgray">

            {{ form_start(form) }}
                {{ form_row(form.plainPassword, {'label': 'Changer le mot de passe'}) }}
                <button type="submit" class="btn btn-primary" style="margin: 10px 0px 10px 0px;">
                    <i class="fas fa-save"></i> Enregistrer
                </button>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}


