{% extends 'base.html.twig' %}

{% block title %}Gamme{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Détails de la gamme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gamme.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gamme.description }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ gamme.owner.email }}</td>
            </tr>
            <tr>
                <th>Piece</th>
                <td>{{ gamme.piece.name }}</td>
            </tr>
        </tbody>
    </table>

        <div class="mt-4">
            <a href="{{ path('app_gamme_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            <a href="{{ path('app_gamme_edit', {'id': gamme.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Modifier
            </a>
            {{ include('gamme/_delete_form.html.twig', {'class': 'd-inline'}) }}
        </div>
</div>
{% endblock %}
