{% extends 'base.html.twig' %}

{% block title %}Gamme{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1><strong>Détails de la gamme</strong></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gamme.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gamme.description }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ gamme.owner.email }}</td>
            </tr>
            {% if gamme.piece is not null %}
            <tr>
                <th>Pièce associée</th>
                <td>{{ gamme.piece.name }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Liste des opérations</th>
                <td>{{ gamme.operation ? gamme.operation|join(', ') : '' }}</td>
            </tr>

        </tbody>
    </table>

        <div class="mt-4">
            <a href="{{ path('app_gamme_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            <a href="{{ path('app_gamme_edit', {'id': gamme.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Modifier
            </a>
            {{ include('gamme/_delete_form.html.twig', {'class': 'd-inline'}) }}
        </div>
</div>
{% endblock %}
