{% extends 'base.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center anim"><strong>Fournisseurs</strong></h1>
        <div class="d-flex justify-content-between mb-4 anim">

            <form class="form-inline" method="get" action="{{ path('app_furnisher_index') }}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Rechercher par nom..." value="{{ app.request.query.get('search') }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a href="{{ path('app_furnisher_new') }}" class="btn btn-success">
                <i class="fas fa-plus"></i> Créer
            </a>
        </div>

        <hr class="anim" style="background-color:darkgray">

            <div class="row">
            {% for furnisher in furnishers %}
                <div class="col-md-4 mb-4" >
                    <div class="card h-100 anim shadow-sm" style="animation-delay: {{ loop.index0 * 0.2 }}s;">
                        <div class="card-body">
                            <p class="card-text text-center"><strong><h3 class="text-center">{{ furnisher.name }}</strong></h3></p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{{ path('app_furnisher_show', {'id':furnisher.id}) }}" class="btn btn-info">
                                <i class="fas fa-eye"></i> Voir
                            </a>
                            
                            <a href="{{ path('app_furnisher_edit', {'id': furnisher.id}) }}" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Modifier
                            </a>
                            {{ include('furnisher/_delete_form.html.twig', {'class': 'd-inline'}) }}

                        </div>

                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="anim alert alert-warning text-center" role="alert">
                        Aucun fournisseur trouvé.
                    </div>
                </div>
            {% endfor %}
{% endblock %}
