{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name, "Nom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date, "Date", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
    <hr />
    <div class="form-group">
        {{ form_label(form.buyOrderLines, "Lignes de commande", {'label_attr': {'class': 'form-label fw-bold'}}) }}
        <div data-prototype="{{ form_widget(form.buyOrderLines.vars.prototype)|e('html_attr') }}" class="buy-order-lines">
{% for buyOrderLine in form.buyOrderLines %}
    <div class="form-group row mb-3">
        <div class="col-md-3">
            {{ form_label(buyOrderLine.piece, "Pièce") }}
            {{ form_widget(buyOrderLine.piece, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_label(buyOrderLine.price, "Prix") }}
            {{ form_widget(buyOrderLine.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_label(buyOrderLine.amount, "Quantité") }}
            {{ form_widget(buyOrderLine.amount, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_label(buyOrderLine.date, "Date") }}
            {{ form_widget(buyOrderLine.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            {{ form_label(buyOrderLine.furnisher, "Fournisseur") }}
            {{ form_widget(buyOrderLine.furnisher, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-danger remove-item" style="margin: 10px 0px 10px 0px;">
                <i class="fas fa-trash"></i> Supprimer
            </button>
        </div>
    </div>
{% endfor %}
                <button type="button" class="btn btn-success mt-2" id="add-item"><i class="fas fa-plus"></i>Ajouter une ligne</button>
        </div>
    </div>

    <button class="btn btn-primary mt-3"><i class="fas fa-save"></i>{{ button_label|default(' Enregistrer') }}</button>
{{ form_end(form) }}