{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email, "Email", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
        <div class="form-group">
        {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Rights, "Droits", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Rights, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button class="btn btn-primary mt-3"> <i class="fas fa-save"></i>{{ button_label|default(' Enregistrer') }}</button>
{{ form_end(form) }}