{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1><strong>Détails de l'utilisateur</strong></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
                <th>Rôles</th>
                <td>{{ user.getRightsRoleName }}</td>
            </tr>
            </tr>
                <th>Qualifications</th>
                <td>{{ user.qualification ? user.qualification|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

        <div class="mt-4">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Modifier
            </a>
            {{ include('user/_delete_form.html.twig', {'class': 'd-inline'}) }}
        </div>
</div>
{% endblock %}
